#account-content {
  margin-top: 50px;
  text-align: center;
}

#profile-picture img {
  width: 65vw;
  margin-top: 50px;
  border-radius: 50%;
  border: 3px solid #eee;
}

#username {
  font-size: 2rem;
}

#logout {
  margin-top: 20px;
  background: #333;
  color: #eee;
  border-radius: 5px;
  border: 1px solid #eee;
  font-size: 1rem;
  padding: 13px 22px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}
