.new-story-tab {
  margin-top: 43px;
  padding: 0 5px;
}

#add-story i {
  color: #222;
}

#author-input {
  padding: 0 10px;
  position: relative;
  left: -2px;
  color: #000;
}

#select-input, #title-input, #story-input {
  color: #222;
  background: #ddd;
  border-radius: 3px;
  padding: 0 10px;
  margin: 5px 0;
  width: 190px;
}

#select-input {
  width: 190px;
  position: relative;
  left: 2px;
}

#story-input {
  position: relative;
  left: -1px;
}

#submit-error {
  height: 30px;
  text-align: center;
}

#submit-error p {
  color: #bc2d20 !important;
}

#buttons-row {
  margin: 20px 50px 0;
}

#clear-story, #submit-story {
  width: 100px;
  border: 1px solid #eee;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}

#clear-story {
  /* background: #686d66; */
  background: #b24b38;
  color: #eee;
}

#submit-story {
  background: #507a9a;
  /* background: #40a376; */
  color: #eee;
}
