#popup-login {
  background: #364b5e;
  height: 100vh;
  max-height: 100vh;
  position: relative;
}

#popup-login .content-block{
  background: #b9d3e8;
  height: 100%;
  text-align: center;
  position: relative;
}

#popup-login p {
  font-size: 1.3rem;
  position: relative;
  margin: 0;
  top: 100px;
  color: #333;
  font-family: 'Open Sans', sans-serif;
}

#popup-login #preloader {
  text-align: center;
  height: 60px;
  /*background: green;*/
  position: relative;
  top: 180px;
}

#login-preloader {
  display: none;
}

.fb-login-button {
  position: fixed;
  top: 250px;
  /*width: 500px;*/
  box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}
