@import url('https://fonts.googleapis.com/css?family=Marcellus');

#splash-screen {
  background: url('../images/splash2.jpg') no-repeat;
  background-size: cover;
  justify-content: center;
}

.login-screen-title {
  margin-top: 10vh !important;
  font-family: 'Marcellus', serif;
  font-size: 3rem;
}

#preloader {
  text-align: center;
  margin-top: 25vh;
}
