#splash-screen {
  background: url('../images/splash-final.jpg') no-repeat;
  background-size: cover;
  background-position: 25% 90%;
  justify-content: center;
}

.login-screen-title {
  margin-top: 10vh !important;
  /*font-family: 'Marcellus', serif;*/
  /*font-family: 'Caveat', cursive;*/
  font-family: 'Nothing You Could Do', cursive;
  font-size: 3.5rem;
  color: #eee;
}

#splash-screen #preloader {
  text-align: center;
  margin-top: 25vh;
  display: none;
}
